.background {
  min-height: 100vh;
  overflow: auto;
  background-image: url("/images/StarrySky.png");
  background-color: #222222;
  background-size: cover;
  background-attachment: fixed;
}

.column {
  text-align: center;
  max-width: 1000px;
  padding: 30px;
}

.image {
  height: 250px;
  margin: 30px;
}
@media only screen and (max-width: 1300px) {
  .image {
    height: 200px;
  }
}

.title {
  font-size: 60px;
  margin: 0;
  color: #fff;
  text-align: center;
}

.header {
  color: #ffffff;
  font-size: 40px;
}

.desc {
  font-size: 25px;
  color: #aaeee0;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1200px;
}

@media only screen and (max-width: 1200px) {
  .header {
    font-size: 30px;
  }
  .desc {
    font-size: 25px;
  }
}

.title2 {
  font-size: 30px;
  color: #eeeeee;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
}

.desc2 {
  font-size: 20px;
  color: #dedede;
  margin: 0px;
}

.title3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

@media only screen and (min-width: 1001px) {
  .linkDiv {
    display: flex;
  }
}
.linkDiv {
  align-content: center;
}

.linkTitle {
  font-size: 40px;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

.linkImage {
  width: 450px;
  height: 170px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  align-content: center;
  vertical-align: center;
}

.linkBox {
  width: 550px;
  align-content: center;
  padding: 25px;
}

@media only screen and (max-width: 500px) {
  .linkImage {
    display: none;
  }
  .linkBox {
    width: 50vh;
    min-width: 100px;
  }
  .linkRect {
    min-height: 150px;
  }
}

.linkRect {
  background-color: #000001;
  border-radius: 25px;
  align-content: center;
  padding: 25px;
}
.linkRect:hover {
  background-color: #111111;
}

.searchBar {
  width: 500px;
  height: 50px;
  background-color: #020202;
  border-radius: 25px;
  text-align: center;
}
.searchBar:hover {
  background-color: #222222;
}
@media only screen and (max-width: 500px) {
  .searchBar {
    width: 50vh;
    min-width: 100px;
  }
}

.searchTitle {
  color: #777777;
  font-size: 20px;
  padding: 15px;
  margin: 0;
}

.description h1 {
    color: #fff;
}

.description h5 {
    color: #ccc;
}

.description h3 {
    color: #eee;
}

.description p {
    color: #aaeee0;
    font-size: 25px;
    line-height: 1.5;
}

.download {
  width: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 20, 0.4);
}
@media only screen and (max-width: 500px) {
  .download {
    width: 300px;
  }
}